<div class="main">

    <button id="close" mat-button matSuffix mat-icon-button aria-label="Clear" (click)="onClose()">
        <mat-icon>close</mat-icon>
    </button>

    <form class="form" [formGroup]="newEmployeeForm" (ngSubmit)="createEmployeeModel($event);">       

        <div class="personal_information" *ngFor="let employee of this.employeeArray; let i = index">
            
            <h1>Add Employee #{{i+1}}</h1> 

            <mat-form-field id="first_name" appearance="fill" style="width: 49%">

                <mat-label>First Name</mat-label>

                <input matInput placeholder="John" formControlName="firstName" name="firstName" autocomplete="off" [value]="employee.firstName">

                <mat-error *ngIf="newEmployeeForm.get('firstName')?.touched && newEmployeeForm.get('firstName')?.hasError('required')">This field is <strong>required</strong></mat-error>

            </mat-form-field>

            <mat-form-field id="last_name" appearance="fill" style="width: 49%; margin-left: 2%;">

                <mat-label>Last Name</mat-label>

                <input matInput placeholder="Doe" formControlName="lastName" autocomplete="off" [value]="employee.lastName">

                <mat-error *ngIf="newEmployeeForm.get('lastName')?.touched && newEmployeeForm.get('lastName')?.hasError('required')">This field is <strong>required</strong></mat-error>

            </mat-form-field>

            <br><br>
            
            <mat-form-field id="street_address" appearance="fill" style="width: 100%;" *ngFor="let address of this.addressArray">

                <mat-label>Street Address</mat-label>

                <input matInput  placeholder="001 Cemetary Lane" formControlName="streetAddress" autocomplete="off" [value]="address.streetAddress">

                <mat-error *ngIf="newEmployeeForm.get('streetAddress')?.touched && newEmployeeForm.get('streetAddress')?.hasError('required')">This field is <strong>required</strong></mat-error>
    
            </mat-form-field>
    
            <br><br>
    
            <mat-form-field id="apt_number" appearance="fill" style="width: 30%" *ngFor="let address of this.addressArray">
    
                <mat-label>Apt. Number</mat-label>

                <input matInput placeholder="12A" formControlName="aptNumber" autocomplete="off" [value]="address.aptNumber">
    
            </mat-form-field>
    
            <mat-form-field id="city" appearance="fill" style="margin-left: 2%; width: 68%;" *ngFor="let address of this.addressArray">
    
                <mat-label>City</mat-label>
                <input matInput placeholder="Los Angeles" formControlName="city" autocomplete="off" [value]="address.city">

                <mat-error *ngIf="newEmployeeForm.get('city')?.touched && newEmployeeForm.get('city')?.hasError('required')">This field is <strong>required</strong></mat-error>
    
            </mat-form-field>
    
            <br><br>
    
            <mat-form-field id="state" appearance="fill" style="width: 70%">
    
                <mat-label>State</mat-label>
                <mat-select formControlName="state">
                    <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
                </mat-select>

            </mat-form-field>
    
            <mat-form-field id="zip_code" appearance="fill" style="margin-left: 2%; width: 28%" *ngFor="let address of this.addressArray">
    
                <mat-label>Zip Code</mat-label>

                <input matInput placeholder="90007" formControlName="zipCode" autocomplete="off" [value]="address.zipCode">

                <mat-error *ngIf="newEmployeeForm.get('zipCode')?.touched && newEmployeeForm.get('zipCode')?.hasError('required') || newEmployeeForm.get('zipCode')?.hasError('pattern')
                || newEmployeeForm.get('zipCode')?.hasError('minlength')">This field <strong>requires</strong> a 5 digit number</mat-error>
    
            </mat-form-field>

        </div>
        
        <button mat-flat-button style="float: right; margin-left: 1%; background-color: #b5b5b5;" (click)="onClose()">
            Cancel
        </button>

        <button mat-flat-button color="primary" style="float: right;" type="submit" *ngIf="this.employeeArray.length == 1">
            Save Employee
        </button>

        <button mat-flat-button color="primary" style="float: right;" type="submit" *ngIf="this.employeeArray.length > 1">
            Save All
        </button>
        
        <button mat-flat-button color="primary" style="float: left;" type="button" (click)="addEmployee();">
            <mat-icon>add</mat-icon> Employee
        </button>

    </form>
    
</div>