.header {
    text-align: center;
}

.table {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#paginator {
    float: right;
}

.mat-column-number {
    width: 7%;
}

.mat-column-id {
    width: 20%;
    text-align: center;
}

.mat-column-first_name {
    width: 20%;
    text-align: center;
}

.mat-column-last_name {
    width: 20%;
    text-align: center;
}

.mat-column-addresses {
    width: 15%;
    text-align: center;
}

.mat-column-edit {
    width: 5%;
}

.mat-column-delete {
    width: 5%;
}

.search-create-div {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}