.header {
    text-align: center;
}

h2 {
    text-align: center;
}

.table {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border: 1px black solid;
}

#close {
    float: right;
}

#paginator {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}