<button id="close" mat-button matSuffix mat-icon-button aria-label="Clear" (click)="onClose()">
    <mat-icon>close</mat-icon>
</button>

<div class="personal_information">

    <h1>Edit Address #{{this.data.position + 1}}</h1>

    <form class="form" [formGroup]="newAddressForm" (ngSubmit)="updateAddress($event);">
        
        <mat-form-field  id="street_address" appearance="fill" style="width: 100%;">

            <mat-label>Street Address</mat-label>

            <input matInput formControlName="streetAddress" autocomplete="off">

            <mat-error *ngIf="newAddressForm.get('streetAddress')?.touched && newAddressForm.get('streetAddress')?.hasError('required')">This field is <strong>required</strong></mat-error>

        </mat-form-field>

        <br><br>

        <mat-form-field  id="aptNumber" appearance="fill" style="width: 30%;">

            <mat-label>Apt. Number</mat-label>

            <input matInput formControlName="aptNumber" autocomplete="off">

        </mat-form-field>

        <mat-form-field  id="city" appearance="fill" style="width: 68%; margin-left: 2%;">

            <mat-label>City</mat-label>

            <input matInput formControlName="city" autocomplete="off">

            <mat-error *ngIf="newAddressForm.get('city')?.touched && newAddressForm.get('city')?.hasError('required')">This field is <strong>required</strong></mat-error>

        </mat-form-field>

        <br><br>

        <mat-form-field  id="state" appearance="fill" style="width: 70%;">

            <mat-label>State</mat-label>
                <mat-select [(value)]="this.data.address.state" formControlName="state">
                    <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
                </mat-select>

                <mat-error *ngIf="newAddressForm.get('state')?.touched && newAddressForm.get('state')?.hasError('required')">This field is <strong>required</strong></mat-error>

        </mat-form-field>

        <mat-form-field  id="zip_code" appearance="fill" style="width: 28%; margin-left: 2%">

            <mat-label>Zip Code</mat-label>

            <input matInput formControlName="zipCode" autocomplete="off">

            <mat-error *ngIf="newAddressForm.get('zipCode')?.touched && newAddressForm.get('zipCode')?.hasError('required')">This field <strong>requires</strong> a 5 digit number</mat-error>

        </mat-form-field>

        <button mat-flat-button style="float: right; margin-left: 1%; background-color: #b5b5b5;" (click)="onClose()">
            Cancel
        </button>

        <button mat-flat-button color="primary" style="float: right;" type="submit">
            Update Address
        </button>

    </form>

</div>
